{% extends "base.html" %}

{% block content %}
    <h1>Add meal</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            <h3>{{ form.name.label }}</h3><br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <h3>{{ form.description.label }}</h3><br>
            {{ form.description(size=150) }}<br>
            {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <h3>{{ form.persons.label }}</h3><br>
            Choose from 1 to 10 persons.<br>
            {{ form.persons }}<br>
            {% for error in form.persons.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <h3>{{ form.ingredient_key.label }}</h3> {{ form.ingredient_key(size=32) }}     # Faire en sorte d'avoir deux cases côte à côte pour le nom de l'ingrédient et la quantité, les ajouter en dict dans la recette
            <h3>{{ form.ingredient_value.label }}</h3> {{ form.ingredient_value(size=32) }}     # Possibilité de rajouter des paires ingrédient/quantité
            {% for error in form.ingredient_value.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {% for error in form.ingredient_key.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <h3>{{ form.tags.label }}</h3><br>
            {{ form.tags }}<br>
            {% for error in form.tags.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}