{% extends "base.html" %}

{% block content %}
    <h1>Add meal</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            <h3>{{ form.name.label }}</h3>
            {{ form.name(size=32) }}
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <h3>{{ form.description.label }}</h3>
            {{ form.description(size=150) }}
            {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <h3>{{ form.persons.label }}</h3>
            Choose how many persons (from 1 to 10) {{ form.persons }}
            {% for error in form.persons.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <h3>{{ form.total_ingredients.label }}</h3>
            Choose how many ingredients (from 1 to 25) {{ form.total_ingredients }}
            {% for error in form.total_ingredients.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <h3>{{ form.tags.label }}</h3>
            {{ form.tags }}
            {% for error in form.tags.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}