{% extends "base.html" %}

{% block content %}
    <div>
        <h2>Recipe name:</h2>
        <p>{{recipe.name}}</p>
        <h2>Recipe description:</h2>
        <p style="white-space: pre-line">{{recipe.description}}</p>
        <h2>Recipe tags:</h2>
        <ul>
            {% for tag in recipe.tags['tags'] %}
                <li>{{tag}}</li>
            {% endfor %}
        </ul>
        <h2>Number of persons:</h2>
        <p>{{recipe.persons}}</p>
        <h2>Recipe ingredients:</h2>
        <p>{{recipe.ingredients['ingredient']}}</p>
        <p>{{recipe.ingredients['quantity']}}</p>

        <a href="{{ url_for('add_ingredient', recipe_id=recipe.id) }} ">Add ingredient</a>
    </div>
{% endblock %}
